SUPABASE_DATABASE_URL=postgresql://postgres:1MtOJj9FGE91eB7I@db.wokowjtzkbfvewlkfduj.supabase.co:5432/postgres
GOOGLE_GEMINI_API_KEY=AIzaSyAVvq6TwtCCXPU2c7DM9pcWEkRECG3iaSs
UPSTASH_REDIS_REST_URL=https://immune-turkey-81737.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAT9JAAIncDE1ZDRiODBkYmQ3YjY0NWFhODIzY2U2Mjc5NzU1MDhjMHAxODE3Mzc
GOOGLE_PLACES_API_KEY=your_google_places_api_key_here
